<ng-container>
    <div class="my-overlay" [ngClass]="{'h-0': !loader.loadingVisible}">
        <div class="d-flex justify-content-center align-items-center loader-mt">
            <img src="../../../assets/images/asgatech_logo.jpeg" height="5%" width="5%" class="mx-4">
            <div class="waviy loader-spinner">
                <span style="--i:1">A&nbsp;&nbsp;</span>
                <span style="--i:2">S&nbsp;&nbsp;</span>
                <span style="--i:3">G&nbsp;&nbsp;</span>
                <span style="--i:4">A&nbsp;&nbsp;</span>
                <span style="--i:5">T&nbsp;&nbsp;</span>
                <span style="--i:6">E&nbsp;&nbsp;</span>
                <span style="--i:7">C&nbsp;&nbsp;</span>
                <span style="--i:8">H&nbsp;&nbsp;</span>
            </div>
        </div>
    </div>
</ng-container>